.panel-header-tile {
    border: 2px solid transparent;
    border-radius: 4px;
    color: var(--text-secondary);
    font: 18px/145% var(--mono);
}

.panel-header-tile:hover {
    border-color: var(--accent-border);
    background: var(--bg-hover);
    cursor: pointer;
}

.selected-tile {
    font-weight: bold;
    color: var(--text-h);
    background: var(--bg-h);
}
