.panel {
    display: flex;
    flex-direction: column;
    background: var(--surface);
    color: var(--text-secondary);
    border: 1px solid var(--border);
    padding: 2px;
    backdrop-filter: blur(18px);
    box-shadow: 3px 0 20px rgba(0, 0, 0, 0.5);
}

.panel-open-false {
    max-width: 0;
    box-shadow: none;
}
